.header {
  align-items: baseline;
  background-color: rgb(14,164,251);
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid black;
}

.image, .myName, .anythingForComplete {
  padding: 5px;
}

.myName {
  padding-left: 45px;
  padding-right: 45px;
}