.menu {
  border-right: 1px solid black;
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 1%;
  margin-bottom: 3%;
  text-align: center;
  justify-content: center;
}

.home, .about, .contact, .projects {
  text-align: center;
  width: 150px;
} 